.carousel-inner-category {
  padding: 0 0;
}
.card {
  margin: 0 10px; /* add some margin to the cards */
}

.carousel-control-prev,
.carousel-control-next {
  width: 6vh;
  height: 6vh;
  border-radius: 23%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0f0f0f;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .item-category {
    width: 50%;
  }
}

@media (min-width: 380px) and (max-width: 430px) {
  .text-category {
    margin-left: 45px;
  }
}

@media (min-width: 360px) and (max-width: 380px) {
  .text-category {
    margin-left: 12px;
  }
}

@media (min-width: 768px) {
  .item-category {
    width: 33.3333%;
    margin-left: 10px;
    margin-right: 0;
    /* flex: 0 0 33.333333%; */
    display: block;
  }
  .carousel-inner-category {
    display: flex;
  }
  .card-wrapper {
    display: flex;
  }
}

@media (max-width: 430px) {
  .card-wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000038;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-hover {
  transform: scale(1);
}

.video-play-btn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 65px;
  width: 65px;
  cursor: pointer;
}
.play-icon {
  font-size: 38px;
  margin-left: 6px;
}

.card:hover .video-play-btn {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

.details {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 31%;
  margin-top: 303px;
}

.card:hover .details {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

.movie-title {
  color: #fff;
}

@keyframes slide-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.movie-title:hover {
  background: linear-gradient(
    92deg,
    rgba(90, 13, 255, 1) 0%,
    rgba(255, 41, 221, 1) 37%,
    rgba(255, 88, 28, 1) 92%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}