

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select-box {
  position: relative;
}

.select-box input {
  width: 100%;
  /* padding: 1rem 0.6rem */
  /* font-size: 1.1rem; */
  border: none;
  border-left: 0.1rem solid #262626 ;
  background: none;
  outline: none;
  color: #eee;
}

input[type="tel"] {
  border-radius: 0 0.5rem 0.5rem 0;
}
/* 
.select-box input:focus {
  border-left: 0.1rem solid #262626 ;
} */

.selected-option {
  border: 1px solid #262626;
  border-radius: 0.5rem;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-option div {
  position: relative;
  padding: 0px 43px 0 14.5px;
  text-align: center;
  cursor: pointer;
}

.selected-option div::after {
  position: absolute;
  content: "";
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);

  width: 0.8rem;
  height: 0.8rem;
  border-right: 0.12rem solid #262626;
  border-bottom: 0.12rem solid #262626;

  transition: 0.2s;
}

.selected-option div.active::after {
  transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
  position: absolute;
  top: 4rem;

  width: 100%;
  background-color:#141414;
  border: 1px solid #262626;
  border-radius: 0.5rem;

  display: none;
}

.select-box .options.active {
  display: block;
}

.select-box .options::before {
  position: absolute;
  content: "";
  left: 1rem;
  top: -1.2rem;

  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-bottom-color: var(--primary);
}

input.search-box {
  background-color: var(--primary);
  color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.4rem 1rem;
  border: 1px solid #262626;
}

.select-box ol {
  list-style: none;
  max-height: 23rem;
  overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
  width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 3rem;
  background-color: #ccc;
  border-radius: 0.4rem;
}

.select-box ol li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.select-box ol li.hide {
  display: none;
}

.select-box ol li:not(:last-child) {
  border-bottom: 0.1rem solid #262626;
  color: #999;
}

.select-box ol li:hover {
  background-color: #99999917;
}

.select-box ol li .country-name {
  margin-left: 0.4rem;
}
