/* card */

html {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
body {
  background-color: #15141f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000038;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-hover {
  transform: scale(1);
}

.video-play-btn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 65px;
  width: 65px;
  cursor: pointer;
}
.play-icon {
  font-size: 38px;
  margin-left: 6px;
}

.card:hover .video-play-btn {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

.details {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 41%;
  margin-top: 303px;
}

.card:hover .details {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

@keyframes slide-top {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY();
  }
}

.movie-title {
  color: #fff;
}

.movie-title:hover {
  background: linear-gradient(
    92deg,
    rgba(90, 13, 255, 1) 0%,
    rgba(255, 41, 221, 1) 37%,
    rgba(255, 88, 28, 1) 92%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in-out;
}

/* footer */
.footer {
  margin-top: 150px;
}

/*
@media (max-width:991px ) {
  .sidebar{
    background-color: #15141f;
    backdrop-filter: blur;
  }
  
} 
 */

/* header*/
.header {
  position: relative;
  z-index: 1;
}

.fleekNav {
  background-color: #0f0f0f;
}
.fleekNavBorder {
  position: relative;
}
.navItems {
  background-color: #1a1a1a;
}

.fleekNavBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 0px solid transparent;
  z-index: -1;
  background-image: linear-gradient(
    92deg,
    rgba(90, 13, 255, 1) 0%,
    rgba(255, 41, 221, 1) 37%,
    rgba(255, 88, 28, 1) 92%
  );
  background-clip: border-box;
  -webkit-background-clip: border-box;
}

/* movie and show player */

.playerSectionTxt {
  height: 30%;
}


/* movie and show details */
.showsDetail{
  margin-top: 100px;
}
.moviesDetail{
  margin-top: 100px;
}

/* home hero section */
.homeHero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.homeSectionTxt {
  height: 4%;
}
img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* subscription */

.subs {
  margin-top: 150px;
}
#subImg {
  background-image: url(/assets/img/trial.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 314px;
}

/* price card */
.price {
  margin-top: 150px;
}

/* faq */

.faq {
  margin-top: 60%;
}
.fqs {
  display: none;
}
.fqsHead {
  display: block;
}

/* support */
.supp{
  margin-top: 150px;
}
.suppFaq{
  margin-top: 150px;
}
