/* card */

html {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
body {
  background-color: #15141f;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "open-sans", sans-serif;
}
p {
  font-family: "Open-sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

li {
  list-style: none;
}

/* footer */
.footer {
  margin-top: 150px;
}

/*
@media (max-width:991px ) {
  .sidebar{
    background-color: #15141f;
    backdrop-filter: blur;
  }
  
} 
 */

/* header*/
.header {
  position: relative;
  z-index: 1;
}

.fleekNav {
  background-color: #0f0f0f;
  border-radius: 14px;
}
.fleekNav a:hover {
  background-color: #1a1a1a;
}
.fleekNavBorder {
  position: relative;
}
.navItems.active {
  background-color: #1a1a1a;
}

.fleekNavBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  border: 0px solid transparent;
  z-index: -1;
  background-image: linear-gradient(
    92deg,
    rgba(90, 13, 255, 1) 0%,
    rgba(255, 41, 221, 1) 37%,
    rgba(255, 88, 28, 1) 92%
  );
  background-clip: border-box;
  -webkit-background-clip: border-box;
}

/* home hero section */
.homeHero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.homeSectionTxt {
  height: 4%;
}
img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* subscription */

.subs {
  margin-top: 150px;
}
#subImg {
  background-image: url(/assets/img/trial.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 314px;
}

.subcBackground {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0) 100%
  );
}

/* Desktop view (min-width: 576px) */
@media (min-width: 576px) {
  .subcBackground {
    background: linear-gradient(
      90deg,
      rgba(20, 20, 20, 1) 0%,
      rgba(20, 20, 20, 0) 100%
    );
  }
}

/* price card */
.price {
  margin-top: 150px;
}

/* faq */

.faq {
  margin-top: 60%;
}
.fqs {
  display: none;
}
.fqsHead {
  display: block;
}

/* support */
.supp {
  margin-top: 150px;
}
.suppFaq {
  margin-top: 150px;
}

/* movies & shows hero section */

.movieShowHeroSection {
  margin-top: 150px;
}

.gradient-background {
  background: linear-gradient(
    360deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0) 100%
  );
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.carousel-caption-container {
  position: relative;
  z-index: 2;
}

.carousel-fade .carousel-item {
  transition: opacity 0.5s;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item:not(.active) {
  opacity: 0;
}

/* movie and show details */
.showsDetail {
  margin-top: 100px;
}
.moviesDetail {
  margin-top: 100px;
}

/* movie and show player */

.playerSectionTxt {
  height: 30%;
}

.movie-title {
  color: #fff;
}

.movie-title:hover {
  background: linear-gradient(
    92deg,
    rgba(90, 13, 255, 1) 0%,
    rgba(255, 41, 221, 1) 37%,
    rgba(255, 88, 28, 1) 92%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in-out;
}

/* card */

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000038;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-hover {
  transform: scale(1);
}

.video-play-btn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 65px;
  width: 65px;
  cursor: pointer;
}
.play-icon {
  font-size: 38px;
  margin-left: 6px;
}

.card:hover .video-play-btn {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

.details {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 41%;
  margin-top: 303px;
}

.card:hover .details {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

@keyframes slide-top {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY();
  }
}

/* carousel card slider */

.carousel-inner-category {
  padding: 0 0;
}
.card {
  margin: 0 10px; /* add some margin to the cards */
}

.carousel-control-prev,
.carousel-control-next {
  width: 6vh;
  height: 6vh;
  border-radius: 23%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0f0f0f;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .item-category {
    width: 50%;
  }
}

@media (min-width: 380px) and (max-width: 430px) {
  .text-category {
    margin-left: 45px;
  }
}

@media (min-width: 360px) and (max-width: 380px) {
  .text-category {
    margin-left: 12px;
  }
}

@media (min-width: 768px) {
  .item-category {
    width: 33.3333%;
    margin-left: 10px;
    margin-right: 0;
    /* flex: 0 0 33.333333%; */
    display: block;
  }
  .carousel-inner-category {
    display: flex;
  }
  .card-wrapper {
    display: flex;
  }
}

@media (max-width: 430px) {
  .card-wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
}

/* movies and show genere */

.movieGenre {
  border-radius: 14px; /* round the corners */
  background-image: linear-gradient(
    92deg,
    rgba(90, 13, 255, 1) 0%,
    rgba(255, 41, 221, 1) 37%,
    rgba(255, 88, 28, 1) 92%
  );
  background-size: 100% 100%; /* ensure the gradient covers the entire element */
  /* padding: 1em */
  margin-top: 150px;
/*   height: 3066px;
  width: 1332px; */
  /* top: -53px; */
}

.movieGenreBg {
  background-color: #15141f;
  margin: 5px 6px;
  padding-top: 63px;
  border-radius: 9px;
}

/* @media (max-width: 1020px) and (min-width: 320px) {
  .movieGenre {
    margin-top: 0;
    height:max-content;
    width: max-content;
    border-radius: 0;
    background-image: none;
  }
  .movieGenreBg {
    padding-top: 0;
  }
} */
