* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.mainCardApi {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color:wheat; */
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}



.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000038;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-hover {
  transform: scale(1);
}

.video-play-btn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 65px;
  width: 65px;
  cursor: pointer;
}
.play-icon {
  font-size: 38px;
  margin-left: 6px;
}

.card:hover .video-play-btn {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

.details {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #85776c54;
  backdrop-filter: blur(20px);
  height: 31%;
  margin-top: 303px;
}

.card:hover .details {
  opacity: 1;
  animation: slide-top 0.5s ease-in-out;
}

@keyframes slide-top {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY();
  }
}

.movie-title {
  color: #fff;
}

.movie-title:hover {
  background: linear-gradient(
    92deg,
    rgba(90, 13, 255, 1) 0%,
    rgba(255, 41, 221, 1) 37%,
    rgba(255, 88, 28, 1) 92%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in-out;
}

/* .card {
    position: relative;
  }
  
  .card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }
  
  .video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s; 
  }
  
  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s; 
  } */

#search {
  width: 500px;
  padding: 5px 30px;
  background-color: rgba(52, 73, 94, 0.7);
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px white;
  color: White;
  margin-top: 10px;
  font-size: 30px;
  border-radius: 25px;
  transition: 1s;
  margin-bottom: 15px;
}

#search:focus {
  background-color: white;
  color: black;
}
